[project]
	description = test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eprogres
[access "refs/for/refs/*"]
	read = group user/eprogres
	push = group user/eprogres
	label-Code-Review = -2..+2 group user/eprogres
	label-Verified = -1..+1 group user/eprogres
	rebase = group user/eprogres
	removeReviewer = group user/eprogres
	submit = group user/eprogres
[access "refs/heads/*"]
	read = group user/eprogres
	create = group user/eprogres
	push = +force group user/eprogres
	pushMerge = group user/eprogres
[access "refs/tags/*"]
	push = +force group user/eprogres
	pushTag = group user/eprogres
	pushSignedTag = group user/eprogres
